.cartPage {
    width: 100%;
    min-width: 800px;
    position: relative;
    padding: 1rem 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    table {
        width: 100%;
        margin-bottom: 8rem;
        table-layout: auto;
        text-align: center;
        thead {
            color: #aaa;
            td {
                padding: 1rem;
            }
        }
    }

    .submitOrder {
        background-color: #ddd;
        height: 100px;
        max-width: 1200px;
        width: 100%;
        position: fixed;
        bottom: 30px;
        margin-top: 5rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15rem;

        button {
            padding: 0.7rem 1rem;
            background-color: #fd6a01;
            color: white;
            font-weight: bold;
            border: 1px solid #fd6a01;

            &:hover {
                cursor: pointer;
                background-color: #fb7e25;
            }
        }
    }
}
